<html>
    <head>
        <title>Thank you for using Pack Mashup Maker</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 
        <style>
            * {
                font-family: 'Open Sans', sans-serif;
            }
            code {
                font-family: monospace;
                background-color: lightgrey;
            }
        </style>
    </head>
    <body>
        <h1>Thank you using Pack Mashup Maker!</h1>
        <p>You can find your pack at <code>{{dict['path']}}</code></p>
        <p>You have to provide your own icon.</p>
    </body>
</html>
